@model first_MVC_Project.Models.DogViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<h1>Hello World</h1>

<p>My new job sucks ass big time</p>
<p>@Model.Name is @Model.Age years old</p>